body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    color: #E5E7Eb;
    text-decoration: none;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.intro {
    display: flex;
    background-color: #1F2937;
    padding: 50px 110px;
}

.heroText {
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
}

.hero {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
}

.heroSecondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.button1 {
    border-radius: 5px;
    background-color: #3882F6;
    padding: 7px 25px;
    border: 0;
    color: white;
    font-weight: bold;
}



.information {

}

.quote {

}

.end {

}