body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, serif;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    color: #E5E7Eb;
    text-decoration: none;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding-left: 100px;
}

.intro {
    display: flex;
    background-color: #1F2937;
    padding: 50px 200px;
}

.hero {
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;

}

.hero .headerText{
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
    padding-bottom: 5px;    
}

.hero .bodyText {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero .button {
    border-radius: 5px;
    background-color: #3882F6;
    padding: 7px 25px;
    border: 0;
    color: white;
    font-weight: bold;
}

.information {
    padding: 40px 0 80px 0;
}

.information .headerText {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: 2px solid red;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote .headerText {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0 200px;
    align-self: flex-start;
}

.quote .bodyText {
    font-weight: bold;
    align-self: flex-end;
    margin: 0 200px;
}

.end {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 100px auto;
    width: 830px;
    height: 130px;
    justify-content: space-around;
    align-items: center;
}

.endText {
    display: flex;
    flex-direction: column;
    color: white;
}

.end .headerText {
    font-size: 24px;
}

.end .button {
    border-radius: 5px;
    background-color: #3882F6;
    padding: 7px 25px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

.footer {
    display: flex;
    background-color: #1F2937;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: white;
}